/* * {
    box-sizing: border-box;
    text-align: center;
  }  */
  /* Not sure why the above code with * doesn't apply text-align to all the elements */

  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    
}
  .header {
    background: #ebebeb;
    padding: 20px;
    
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin-top: 10px;
}

/* .section {
    background: #ebebeb;
    margin-top: 20px;
    width: 495px;
    height: 200px;
    float: left;
    display: block;    
    width: 50%;
    display: inline;
    overflow: auto;
    clear: both;
} */

section {
    background: #ebebeb;
    margin-top: 15px;
    width: 495px;
    height: 310px;
    float: left;
    display: block;    
}
.section {
    margin: auto;
    padding-top: 20px;
}

.article {
    color: #ebebeb;
    background: #777;
    padding-top: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 475px;
    height: 195px;
}

.h1{
    color: #777;
    background: #ebebeb;
    height: 35px;
    width: 425px;
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 25px;

}
.p{color: #777;
    background: #ebebeb;
    height: 30px;
    width: 425px;
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 25px;
}
    
.aside {
    color: #777;
    background: #ebebeb;
    padding-top: 20px;
    margin-top: 15px;
    width: 450px;
    height: 310px;
    float: right;
    display: block;
}


.clear {
    clear: both;
}

footer {
    background: #ebebeb;
    padding: 20px;
    margin-top: 15px;
}
  
 
   /* footer {clear: both;} 
   

   .aside {float: left;
    width: 50%;}
    
    .page{ width: 600px;
        margin: 0 auto;}

        body {
            display: grid;
            min-height: 100%
         } */